<%= stylesheet_link_tag 'appposts',  :media => "all" ,'data-turbolinks-track': 'reload' %>

<div class="webservice-show container">
  <div class="contents-top row">
    <div class=" col-md-8">
      <h3 class="app-name"><%= @apppost.app_name %></h3>
      <h4 class="app-url">URL:<%= @apppost.url %></h4>

      <p>★★★★★</p>
      <p>お気に入りに追加する</p>
    </div>
    <div class="share-btn col-md-4">
      <ul>
        <li>シェアする</li>
      </ul>
    </div>
  </div>

  <div class="contents-image row">
    <div class="col-xs-12">
      <%= image_tag @apppost.app_image.to_s %>
    </div>
  </div>
  <div class="contents-description row">
    <div class="col-xs-12">
      <h3>制作会社・製作者名：<%= @apppost.author %></h3>
      <h3>サービスの説明</h3>
      <p><%= @apppost.description %></p>
    </div>
    <%= link_to "編集する", edit_apppost_path(@apppost.id), class: "pull-right" %>
  </div>

  <div class="row">
    <div class="review-all col-md-9">
      <div class="col-sm-6">
        <h3>レビュー一覧</h3>
        <%= render "reviews/reviews" %>
      </div>
      <div class="col-sm-6">
        <%= link_to "レビューを投稿する", new_apppost_review_path(@apppost.id), class: 'btn btn-success' %>
      </div>
    </div>

    <div class="sidebar col-md-3">
      <%= render "shared/sidebar_recent_post" %>
    </div>
  </div>
</div>
