<%= stylesheet_link_tag 'user_profile',  :media => "all" ,'data-turbolinks-track': 'reload' %>

<h1 class="text-center">プロフィールの編集</h1>

<div class="container">
  <%= form_for (@user) do |f| %>
    <div class="profile-image-edit col-md-4 center-block">
        <%= f.label :image, "プロフィール画像" %>
        <%= f.file_field :image, class: "form-control" %>
    </div>
    <div class="profile-contents col-md-6 col-md-offset-1">
      <ul>

          <%= render 'shared/error_messages' %>

          <li><%= f.label :name, "アカウント名" %></li>
          <li><%= f.text_field :name, class: "form-control" %></li>

          <li><%= f.label :introduction, "自己紹介" %></li>
          <li><%= f.text_area :introduction, class: "form-control" %></li>

          <li><%= f.submit "変更を保存する", class: "btn btn-success" %></li>

      </ul>
    </div>
  <% end %>
</div>
