<%= stylesheet_link_tag 'user_profile',  :media => "all" ,'data-turbolinks-track': 'reload' %>
<h1 class="text-center">プロフィール</h1>

<div class="container">
  <div class="profile">
    <div class="profile-image col-md-4 center-block">
      <%= image_tag @user.image_url.to_s %>
    </div>
    <div class="profile-contents col-md-6 col-md-offset-1">
      <ul>
        <li><%= @user.name %></li>
        <li>自己紹介</li>
        <li><%= @user.introduction %></li>
        <li class="text-right"><%= link_to "プロフィールを編集する", edit_user_path(current_user) %></li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <h2>お気に入り一覧</h2>
    <% @favorites.each do |favorite| %>
      <div class="favorites row">
        <div class="col-md-3">
          <%= image_tag favorite.apppost.app_image.to_s %>
        </div>
        <div class="col-md-8">
          <ul>
            <li class="name"><%= link_to favorite.apppost.app_name, favorite.apppost %></li>
            <li>URL:<%= favorite.apppost.url %></li>
            <li><%= favorite.apppost.description %></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>




